* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*="grid-"], [class*="grid_"], [class~="grid"] {
	margin: 0;
  /* this takes the margin off all classes of grid or classes containg a grid. the col one above does the same for col. that overides gridlex's defaut styling because my css stylesheet is below the gridlex in my head */
}

header {
  background-color: #16202E; /*this is adrienne's blue*/
  position: fixed; /*this is the critical element that fixes the section to the top of the page*/
  min-height: 100vh;
  top: 0;
  left: 0;
}

body {
  /* padding-left: 12rem; */
/*  this gives the heading padding to push the first section down the page once the header is fixed (padding-top) or to the left (padding-left).  */
  font-family: 'M PLUS 1p', sans-serif;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 5vw; /*this allows the h1 to resize on scale*/
  padding-left: 4%;
}

h2 {
  text-align: center;
}


h3 {
  font-size: 2rem;
  padding: 5% 5% 0% 0%;
}

 .about {
  background-color: rgba(255,255,255,0.5);
  height: 80vh;
  position: absolute;
  top: 120px;
  right: 10px;
  width: 30rem;
  padding: 3%;
  overflow: scroll; /* this allows me to scroll inside the about box */
}

.about p{
  padding-bottom: 2rem;

}

.about h2 {
  line-height: 1;
  margin-bottom: 0.5rem;
}


.blog-title {
  font-size: 4vw;
  font-weight: 400;
  padding: 2% 5%;
}

.blog-link {
  font-weight: 300;
  text-decoration: none;
  padding: 0.5rem;
}

.date {
  font-weight: 300;
  font-size: 1vw;
  padding: 1% 1% 1% 5%;
}

.blog-post {
  padding: 1% 5%;
}

.description{
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 75%;
  padding: 3%;
}

.home-nav {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
  z-index: 9; /* this forces the nav bar to the front - like a send to front. Essentially moving it forward on the z axis. */
}

.project-nav {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 9;
}

.project-nav a {
  color: white;
  font-size: 1.7vw;
  display: block;
  text-decoration: none;
  overflow-wrap: normal;
}

.home-nav a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 2rem;
  display: inline-block;
  color: rgba(255,255,255,0.7);
}

.blog-image {
  background-size: cover;
  background-position: center;
  margin: 5%;
  display: block;
  height: 50vh;
}

.bg-image {
  background-attachment: fixed; /*this fixes the background image in place and allows me to scroll over it, creating a groovy effect*/
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.adrienne-portrait {
  background-image: url('/images/adrienne-portrait.jpg');
  background-position: 35% 70%;
  background-size: cover;
  min-height: 100vh;
}

.banner-image {
  background-image: url('images/saturday-arvo7.jpg');
  background-size: cover;
  background-position: center;
  height: 20vh;
}
form {
  width: 50%;
  margin: 0 auto;
}
form input,
form textarea {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid #16202E;
  font-family: 'M PLUS 1p', sans-serif;
}

textarea {
  min-height: 12rem;
}

form input[type="submit"] {
  background-color: #16202E;
  color:white;
  border: none;
}
